@use '../../../styles/containers.scss';
@use '../../../styles/colors.scss';


.meetingList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.meetingListItem {
    box-sizing: border-box;
    margin-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: 1px solid colors.$dark-green-2;
}