.screen {
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 220px;
        height: 280px;
        margin-top: 60px;
        margin-left: 60px;
    }

    h3, label {
        color: white;
    }
}

.error {
    color: #eb816e;
    font-style: italic;
}