//colors
@use 'styles/colors.scss';
@use 'styles/spacers.scss';
@use 'styles/buttons.scss';
@use 'styles/forms.scss';
@use 'styles/containers.scss';
@use 'styles/hide.scss';
@use 'styles/links';
@use 'styles/fonts';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: colors.$dark-green-1;
    font-family: 'Montserrat', 'andale mono', sans-serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}