<div class="activeMeetingScreenContainerMobileVertical">
    <div class="speakerViewContainer"><app-speaker-view></app-speaker-view></div>
    <div class="peerThumbnailsContainer">Peers</div>
    <div class="toolsContainer">Tools</div>
</div>
<div class="activeMeetingScreenContainerMobileHorizontal">
    <div class="speakerAndToolsContainer">
        <div class="speakerViewContainer"><app-speaker-view></app-speaker-view></div>
        <div class="toolsContainer">Tools</div>
    </div>
    <div class="peerThumbnailsContainer">Peers</div>
</div>
<div class="activeMeetingScreenContainerTabletVertical">
    <div class="speakerViewContainer"><app-speaker-view></app-speaker-view></div>
    <div class="thumbnailsAndChatContainer">
        <div class="peerThumbnailsContainer">Peers</div>
        <div class="chatContainer">Chat</div>
    </div>
    <div class="toolsContainer">Tools</div>
</div>
<div class="activeMeetingScreenContainerTabletHorizontalAndDesktop">
    <div class="peerThumbnailsContainer">Peers</div>
    <div class="speakerAndToolsContainer">
        <div class="speakerViewContainer"><app-speaker-view></app-speaker-view></div>
        <div class="toolsContainer">Tools</div>
    </div>
    <div class="chatContainer">Chat</div>
</div>