@use '../../../styles/colors.scss';
@use '../../../styles/animations.scss';
@use '../../../styles/containers.scss';

.dashboardContainer {
    height: containers.$screen-height;
    display: flex;
    justify-content: center;
}

.upcomingMeetingsContainer {
    margin-right: 0px;
    margin-top: 40px;
    padding: 0px 20px 20px 20px;
    width: 260px;
    box-sizing: border-box;
    max-height: calc(100% - 80px);
    overflow-y: scroll;
    direction: rtl;
}

.calendarContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.modalContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: colors.$dark-green-0-translucent;
    display: flex;
    justify-content: center;
    align-items: center;
    @include animations.fade-in(250ms);
}

.modal {
    position: relative;
    height: fit-content;
    max-height: calc(containers.$screen-height - 80px);
    min-height: 180px;
    width: 260px;
    max-width: 260px;
    overflow-y: scroll;
    background-color: colors.$dark-green-2;
    border-radius: 3.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
    padding-left: 14px;
    @include animations.translate-up(250ms);

    &::-webkit-scrollbar-track {
        background: colors.$dark-green-2;
        border-top-right-radius: 3.5px;
        border-bottom-right-radius: 3.5px;
    }
}

.closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 10px 6px 10px;

    &:hover {
        background-color: colors.$dark-green-1;
    }
}