@use '../../../styles/colors.scss';

:host {
    width: 100%;
    height: 100%;
}

.videoContainerThumbnail {
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    position: relative;
}

.videoThumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.videoBannerThumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$dark-green-0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

// modal
.videoContainerModal {
    width: 400px;
    height: fit-content;
    position: relative;
}

.videoModal {
    width: 400px;
    height: auto;
}

.videoBannerModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

// speaker
.videoContainerSpeaker {
    position: relative;
    background-color: colors.$dark-green-0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    height: fit-content;
}

.videoSpeaker {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.videoBannerSpeaker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: colors.$dark-green-0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.outline {
    box-sizing: border-box;
    border: 3px solid colors.$brand-secondary-tint;
    width: 100%;
    height: calc(100% - 1px);
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
}

.microphone-icon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    color: white;
    background-color: #121212;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}