<div [ngClass]="{
    videoContainerThumbnail : size === sizes.Thumbnail,
    videoContainerModal : size === sizes.Modal,
    videoContainerSpeaker : size === sizes.Speaker
}">
    <video [srcObject]="signalingService.localStream" autoplay="true" [muted]="'muted'" [ngClass]="{
        videoThumbnail : size === sizes.Thumbnail,
        videoModal : size === sizes.Modal,
        videoSpeaker : size === sizes.Speaker
    }"></video>
    <div [ngClass]="{
        videoBannerThumbnail : size === sizes.Thumbnail,
        videoBannerModal : size === sizes.Modal,
        videoBannerSpeaker : size === sizes.Speaker,
        hide : videoEnabled
    }">
        <h2>{{signalingService.username}}</h2>
    </div>
    <fa-icon [icon]="audioEnabled ? faMicrophone : faMicrophoneSlash" class="microphone-icon"></fa-icon>
    <div class="outline" [ngClass]="{
        hide : size !== sizes.Thumbnail || !isSpeaking 
    }"></div>
</div>