@use '../../../styles/colors.scss';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: colors.$dark-green-0-translucent;
    display: flex;
    justify-content: center;
    align-items: center;
}