<form [formGroup]="editMeetingForm" #ngForm="ngForm" *ngIf="!editSucceeded && !deleteSucceeded">
    <div class="horizontalContainerSpaceBetween">
        <button class="btnTransparent" (click)="onEnterViewMode($event)"><fa-icon [icon]="faAngleLeft"
                [size]="'lg'"></fa-icon></button>
        <h1 class="text md" style="max-width: 132px; word-wrap: break-word; text-align: center;">
            Edit
        </h1>
        <span style="min-width: 22.41px;"></span>
    </div>
    <div class="spacer-lg"></div>

    <label class="formLabel">Title</label>
    <br />
    <input type="text" name="title" id="title" formControlName="title" class="formInput" />
    <div class="formFieldErrorContainer">
        <small
            class="formFieldError">{{(!editMeetingForm.get('title')?.valid && (ngForm.submitted || editMeetingForm.get('title')?.dirty || editMeetingForm.get('title')?.touched)) ? 'Please enter a meeting title.' : ''}}</small>
    </div>
    <div class="spacer-sm"></div>

    <label class="formLabel">Date and time</label>
    <div style="display: flex;">
        <input type="datetime-local" name="startDateTime" id="startDateTime" formControlName="startDateTime"
            class="formInput" />
        <label class="formLabel">{{dateTimeService.timeZoneShort}}</label>
    </div>
    <div class="formFieldErrorContainer">
        <small
            class="formFieldError">{{(!editMeetingForm.get('startDateTime')?.valid && (ngForm.submitted || editMeetingForm.get('startDateTime')?.dirty || editMeetingForm.get('startDateTime')?.touched)) ? 'Please enter a valid date-time.' : ''}}</small>
    </div>
    <div class="spacer-sm"></div>

    <label class="formLabel">Duration</label>
    <div style="display: flex;">
        <input type="number" step=5 name="duration" id="duration" formControlName="duration" class="formInput" /><label
            class="formLabel">min</label>
    </div>
    <div class="formFieldErrorContainer">
        <small
            class="formFieldError">{{(!editMeetingForm.get('duration')?.valid && (ngForm.submitted || editMeetingForm.get('duration')?.dirty || editMeetingForm.get('duration')?.touched)) ? 'Please enter a meeting duration (5-120 minutes)' : ''}}</small>
    </div>
    <div class="spacer-lg"></div>

    <div class="horizontalContainerFlexEnd">
        <button class="btnDanger" (click)="onDelete()" style="margin-right: 6px;">Delete</button>
        <button class="btnPrimary" type="submit" (click)="onSubmit()">Save</button>
    </div>

    <div class="spacer-sm"></div>
    <p class="formSubmissionError" *ngIf="serverError">{{serverError}}</p>
</form>
<form [formGroup]="editMeetingForm" #ngForm="ngForm" *ngIf="editSucceeded">
    <h1 class="formHeader">Edit Meeting</h1>
    <div class="spacer-lg"></div>
    <p style="text-align: center;">Success! The meeting was update and your guests have been notified.</p>
    <div class="spacer-lg"></div>
    <div class="horizontalContainerCentered">
        <!-- this button will go back to the view mode -->
        <button class="btnPrimary" (click)="onEnterViewMode($event)">Ok</button>
    </div>
</form>
<form [formGroup]="editMeetingForm" #ngForm="ngForm" *ngIf="deleteSucceeded">
    <h1 class="formHeader">Edit Meeting</h1>
    <div class="spacer-lg"></div>
    <p style="text-align: center;">Success. The meeting was deleted and your guests have been notified.</p>
    <div class="spacer-lg"></div>
    <!-- this button will trigger a goBack event -->
    <div class="horizontalContainerCentered">
        <button class="btnPrimary" (click)="goBack.emit()">Ok</button>
    </div>
</form>