<div class="screenContainer">
    <form class="form">
        <h1 class="formHeader">Login</h1>
        <label for="email" class="formLabel">Email</label>
        <input type="email" name="email" id="email" class="formInput" />
        <small class="formFieldError">Error</small>
        <br />
        <label for="password" class="formLabel">Password</label>
        <input type="password" name="password" id="password" class="formInput" />
        <small class="formFieldError">Error</small>
        <br />
        <div class="horizontalContainerCentered">
            <button class="btnPrimary">Login</button>
        </div>
        <a>Forgot password?</a>
    </form>
</div>