<div class="horizontalContainerSpaceBetween">
    <button class="btnTransparent" (click)="onGoBack()"><fa-icon [icon]="faAngleLeft" [size]="'lg'"
            *ngIf="showBackButton"></fa-icon></button>
    <h1 class="text md" [ngStyle]="{
        maxWidth: showBackButton ? '132px' : '100%'
    }" style="flex: 1; word-wrap: break-word; text-align: center;">
        {{meeting ? meeting.title : ''}}
    </h1>
    <span style="min-width: 22.41px;" *ngIf="showBackButton"></span>
</div>
<div class="spacer-lg"></div>
<label class="text sm">Date &amp; Time</label>
<p class="text xs">{{meeting ? getMeetingDateTime() : ''}}</p>
<div class="spacer-sm"></div>
<label class="text sm">Length</label>
<p class="text xs">{{meeting ? meeting.duration : ''}} min.</p>
<div class="spacer-sm"></div>
<label class="text sm">Password</label>
<p class="text xs">{{meeting ? meeting.password : ''}}</p>
<div class="spacer-sm"></div>
<label class="text sm">Guests</label>
<ul style="list-style-type: none; padding: 0; margin: 0;" *ngIf="meeting">
    <li *ngFor="let guestEmail of meeting.guests" class="text xs">{{guestEmail}}</li>
</ul>
<div class="spacer-lg"></div>
<div class="horizontalContainerFlexEnd">
    <button class="btnPrimary" (click)="onEnterEditMode()" style="margin-right: 6px;">Edit</button>
    <button class="btnPrimary">Start</button>
</div>