<div class="outerScreenContainer">
    <div class="innerScreenContainer">
        <form class="form" *ngIf="!succeeded">
            <h1 class="formHeader">Reset Password</h1>
            <div class="spacer-lg"></div>
            <label for="email" class="formLabel">Email</label>
            <input type="email" name="email" id="email" class="formInput" [(ngModel)]="email"
                (input)="emailErrorMessage=''" />
            <small class="formFieldError">{{emailErrorMessage}}</small>
            <div class="spacer-sm"></div>
            <label for="password" class="formLabel">Temporary Password</label>
            <input type="password" name="password" id="password" class="formInput" [(ngModel)]="passwordResetCode"
                (input)="passwordResetCodeErrorMessage=''" />
            <small class="formFieldError">{{passwordResetCodeErrorMessage}}</small>
            <div class="spacer-sm"></div>
            <label for="password" class="formLabel">Enter New Password</label>
            <input type="password" name="password" id="password" class="formInput" [(ngModel)]="newPassword"
                (input)="newPasswordErrorMessage=''" />
            <small class="formFieldError">{{newPasswordErrorMessage}}</small>
            <div class="spacer-sm"></div>
            <label for="password" class="formLabel">Confirm New Password</label>
            <input type="password" name="password" id="password" class="formInput" [(ngModel)]="confirmPassword"
                (input)="confirmPasswordErrorMessage=''" />
            <small class="formFieldError">{{confirmPasswordErrorMessage}}</small>
            <div class="spacer-lg"></div>
            <div class="horizontalContainerCentered">
                <button class="btnPrimary" (click)="onSubmit()">Reset Password</button>
            </div>
            <div class="spacer-lg"></div>
            <p class="formSubmissionError">{{serverErrorMessage}}</p>
        </form>
        <div class="formLinkContainer" *ngIf="!succeeded">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Back to Login</a>
        </div>
        <form class="form" *ngIf="succeeded">
            <h1 class="formHeader" *ngIf="succeeded">Reset Password</h1>
            <div class="spacer-lg"></div>
            <p style="color: white; text-align: center;">Success! Your password has been reset.</p>
            <div class="spacer-lg"></div>
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page"
                style="text-align: center;">Login</a>
        </form>
    </div>
</div>
<app-loading-wheel-overlay *ngIf="isLoading"></app-loading-wheel-overlay>