<div class="outerScreenContainer">
    <div class="innerScreenContainer">
        <form class="form">
            <h1 class="formHeader">Reset Password</h1>
            <div class="spacer-lg"></div>
            <label for="email" class="formLabel">Email</label>
            <input type="email" name="email" id="email" class="formInput" />
            <small class="formFieldError">Error</small>
            <div class="spacer-sm"></div>
            <label for="password" class="formLabel"> Temporary Password</label>
            <input type="password" name="password" id="password" class="formInput" />
            <small class="formFieldError">Error</small>
            <div class="spacer-sm"></div>
            <label for="password" class="formLabel">Enter New Password</label>
            <input type="password" name="password" id="password" class="formInput" />
            <small class="formFieldError">Error</small>
            <div class="spacer-sm"></div>
            <label for="password" class="formLabel">Confirm New Password</label>
            <input type="password" name="password" id="password" class="formInput" />
            <small class="formFieldError">Error</small>
            <div class="spacer-lg"></div>
            <div class="horizontalContainerCentered">
                <button class="btnPrimary">Login</button>
            </div>
            <div class="spacer-lg"></div>
            <p class="formSubmissionError">Incorrect username or password.</p>
        </form>
        <div class="formLinkContainer">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Back to Login</a>
        </div>
    </div>
</div>