@use '../../../styles/colors.scss';

:host {
    height: 100%;
    max-height: 100%;
}

@mixin gridStyleView {
    display: grid;
    grid-template-columns: 180px 180px;
    grid-auto-rows: 135px;
    gap: 0;
}

@mixin columnStyleView {
    display: flex;
    flex-direction: column;
    width: fit-content;
}


@mixin scrollBtn {
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: white;
    position: absolute;
    border: none;

    &:hover {
        outline: 2px solid colors.$brand-primary-tint;
        cursor: pointer;
    }
}

.outerThumbnailsContainer {
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
    position: relative;
    width: fit-content;
    background-color: colors.$dark-green-0;
}

.innerThumbnailsContainer {
    @include gridStyleView();
    height: 100%;
    max-height: 100%;
    overflow-y: hidden;
}

.scrollBtnUp {
    @include scrollBtn();
    top: 0;
    left: 0;
    background-image: linear-gradient(black, 75%, transparent);
}

.scrollBtnDown {
    @include scrollBtn();
    bottom: 0;
    left: 0;
    background-image: linear-gradient(transparent, 25%, black);
}