<nav class="navbar">
  <ul>
    <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
    <li *ngIf="!authService.activeUser"><a routerLink="/login" routerLinkActive="active"
        ariaCurrentWhenActive="page">Login</a></li>
    <li><a routerLink="/meeting/join" routerLinkActive="active" ariaCurrentWhenActive="page">Join a Meeting</a></li>
  </ul>
  <ul *ngIf="authService.activeUser">
    <li><span class="navbar-text">Welcome, {{authService.activeUser.name}}</span></li>
    <li><span class="navbar-text navbar-highlightable-text" (click)="authService.logout()">Logout</span></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<app-loading-wheel-overlay *ngIf="authService.isLoading"></app-loading-wheel-overlay>
<router-outlet></router-outlet>