<div class="outerThumbnailsContainer" #outerThumbnailsContainer>
    <div class="innerThumbnailsContainer" #innerThumbnailsContainer (mousedown)="onScrollThumbnails()"
        (mouseup)="onStopScrollThumbnails()">
        <app-video [peer]="activeMeetingService.localPeer" [muted]="true"></app-video>
        <app-video [peer]="activeMeetingService.localPeer" [muted]="true"></app-video>
        <app-video [peer]="activeMeetingService.localPeer" [muted]="true"></app-video>
        <app-video [peer]="activeMeetingService.localPeer" [muted]="true"></app-video>
        <app-video [peer]="activeMeetingService.localPeer" [muted]="true"></app-video>
        <app-video [peer]="activeMeetingService.localPeer" [muted]="true"></app-video>
        <app-video *ngFor="let remotePeer of activeMeetingService.remotePeerList" [peer]="remotePeer"
            [muted]="false"></app-video>

    </div>
    <button class="scrollBtnUp" *ngIf="showScrollButtons && showScrollUp" (mousedown)="onScrollUp()"
        (mouseup)="onStopScrollUp()" (mouseleave)="onStopScrollUp()"><fa-icon [icon]="faAngleUp"
            [size]="'xl'"></fa-icon></button>
    <button class="scrollBtnDown" *ngIf="showScrollButtons && showScrollDown" (mousedown)="onScrollDown()"
        (mouseup)="onStopScrollDown()" (mouseleave)="onStopScrollDown()"><fa-icon [icon]="faAngleDown"
            [size]="'xl'"></fa-icon></button>
</div>