<button class="toolbar-button" (click)="onToggleMicrophone()">
    <fa-icon [icon]="activeMeetingService.localPeer?.audioEnabled ? faMicrophone : faMicrophoneSlash"></fa-icon>
</button>
<button class="toolbar-button" (click)="onToggleVideo()">
    <fa-icon [icon]="activeMeetingService.localPeer?.videoEnabled ? faVideo : faVideoSlash"></fa-icon>
</button>
<button class="toolbar-button"
    (click)="!activeMeetingService.isSharingScreen ? activeMeetingService.shareScreen() : activeMeetingService.stopScreenShare()">
    <fa-icon [icon]="faDesktop"></fa-icon>
</button>
<button class="toolbar-button">
    <fa-icon [icon]="faMessage"></fa-icon>
</button>
<button class="toolbar-button">
    <fa-icon [icon]="faCog"></fa-icon>
</button>
<button class="toolbar-button" (click)="onLeaveOrClose()">
    <fa-icon [icon]="faSignOut"></fa-icon>
</button>