<button [ngClass]="{
    toolbarButton : !isMobile,
    toolbarButtonMobile : isMobile
}" (click)="onToggleMicrophone()">
    <fa-icon [icon]="activeMeetingService.localPeer?.audioEnabled ? faMicrophone : faMicrophoneSlash"
        [size]="isMobile ? 'lg' : 'xl'"></fa-icon>
</button>
<button [ngClass]="{
    toolbarButton : !isMobile,
    toolbarButtonMobile : isMobile
}" (click)="onToggleVideo()">
    <fa-icon [icon]="activeMeetingService.localPeer?.videoEnabled ? faVideo : faVideoSlash"
        [size]="isMobile ? 'lg' : 'xl'"></fa-icon>
</button>
<button [ngClass]="{
    toolbarButton : !isMobile,
    toolbarButtonMobile : isMobile
}"
    (click)="!activeMeetingService.isSharingScreen ? activeMeetingService.shareScreen() : activeMeetingService.stopScreenShare()">
    <fa-icon [icon]="faDesktop" [size]="isMobile ? 'lg' : 'xl'"></fa-icon>
</button>
<button class="toolbarButtonMobile" *ngIf="isMobile" (click)="onToggleChatMenu()">
    <fa-icon [icon]="showChat ? faUsers : faMessage" [size]="'lg'"></fa-icon>
</button>
<button [ngClass]="{
    toolbarButton : !isMobile,
    toolbarButtonMobile : isMobile
}" (click)="onOpenSettingsMenu()">
    <fa-icon [icon]="faCog" [size]="isMobile ? 'lg' : 'xl'"></fa-icon>
</button>
<button [ngClass]="{
    toolbarButton : !isMobile,
    toolbarButtonMobile : isMobile
}" (click)="onLeaveOrClose()">
    <fa-icon [icon]="faSignOut" [size]="isMobile ? 'lg' : 'xl'"></fa-icon>
</button>