<div class="modalContainer" *ngIf="modalToShow !== 'media'">
    <div class="modal" *ngIf="modalToShow==='authentication'">
        <h3>Join a Meeting</h3>
        <label for="meetingId">Meeting ID</label>
        <input type="meetingId" name="meetingId" id="meetingId" [(ngModel)]="meetingId"
            (input)="this.meetingIdErrorMessage = '' " />
        <small class="error">{{meetingIdErrorMessage}}</small>
        <br />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" [(ngModel)]="password"
            (input)="this.passwordErrorMessage = '' " />
        <small class="error">{{passwordErrorMessage}}</small>
        <br />
        <div class="loading-wheel-container" *ngIf="isLoading">
            <app-loading-wheel [size]="'xs'"></app-loading-wheel><small class="loading-text">loading...</small>
        </div>
        <div class="btn-container">
            <button class="btn btn-primary" (click)="onCancel()" [disabled]="isLoading">Cancel</button>
            <button class="btn btn-primary" (click)="onAuthenticateToMeeting()" [disabled]="isLoading">Join</button>
        </div>
        <br />
        <small class="error">{{serverErrorMessage}}</small>
    </div>
    <div class="modal" *ngIf="modalToShow==='username'">
        <h3>What should we call you?</h3>
        <label for="username">Name to display</label>
        <input type="text" name="username" id="username" [(ngModel)]="username" />
        <small class="error">{{usernameErrorMessage}}</small>
        <br />
        <div class="loading-wheel-container" *ngIf="isLoading">
            <app-loading-wheel [size]="'xs'"></app-loading-wheel><small class="loading-text">loading...</small>
        </div>
        <div class="btn-container">
            <button class="btn btn-primary" (click)="onCancel()" [disabled]="isLoading">Cancel</button>
            <button class="btn btn-primary" (click)="onEnterUsername()" [disabled]="isLoading">Continue</button>
        </div>
    </div>
    <div class="modal" *ngIf="modalToShow==='allowCameraAndMicrophone'">
        <h3>Select Your Camera and Microphone Settings</h3>
    </div>
</div>
<app-media-settings-modal *ngIf="modalToShow==='media'" (closeModal)="onCloseSelf()"></app-media-settings-modal>