<app-local-video [size]="sizes.Speaker" *ngIf="currentSpeaker==='me'"></app-local-video>
<app-remote-video [size]="sizes.Speaker" *ngIf="currentSpeaker==='peer' && currentSpeakingPeer"
    [username]="currentSpeakingPeer.username" [stream]="currentSpeakingPeer.stream"
    [audioEnabled]="currentSpeakingPeer.audioEnabled" [videoEnabled]="currentSpeakingPeer.videoEnabled"
    [sessionId]="currentSpeakingPeer.id"></app-remote-video>
<div class="toolbar">
    <button class="toolbar-button" (click)="onToggleMicrophone()">
        <fa-icon [icon]="signalingService.audioEnabled ? faMicrophone : faMicrophoneSlash"></fa-icon>
    </button>
    <button class="toolbar-button" (click)="onToggleVideo()">
        <fa-icon [icon]="signalingService.videoEnabled ? faVideo : faVideoSlash"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faDesktop"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faMessage"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faCog"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faSignOut"></fa-icon>
    </button>
</div>
<div class="thumbnails-container">
    <app-local-video></app-local-video>
    <app-remote-video *ngFor="let peer of peers" [stream]="peer.stream" [username]="peer.username"
        [audioEnabled]="peer.audioEnabled" [videoEnabled]="peer.videoEnabled" [sessionId]="peer.id"></app-remote-video>
</div>
<div class="messagesContainer">
    <div *ngFor="let message of messages" class="message" [ngClass]="{
        ownMessage : message.from == 'me'
    }">{{message.text}}<small class="sender-name-text">{{message.from}}</small></div>
</div>
<div class="new-message-input-container">
    <input type="text" [(ngModel)]="newMessage" class="new-message-input" />
    <button (click)="onSendMessage()" class="btn btn-primary new-message-button">Send To All</button>
</div>
<!-- <button style="position: absolute; top: 0; left: 0;" (click)="videos.push(null)">ADD VIDEO</button> -->