<div class="speaker-view-container">
    <video [srcObject]="localStream" autoplay="true" muted="true" class="speaker-video"></video>
</div>
<div class="toolbar">
    <button class="toolbar-button"></button>
    <button class="toolbar-button"></button>
    <button class="toolbar-button"></button>
    <button class="toolbar-button"></button>
    <button class="toolbar-button">
        <fa name="cog" animation="spin"></fa>
    </button>
</div>
<div class="thumbnails-container">
    <video [srcObject]="localStream" autoplay="true" muted="true" class="video"></video>
    <video *ngFor="let remoteStream of remoteStreams" [srcObject]="remoteStream" autoplay="true"></video>
    <video [srcObject]="localStream" autoplay="true" muted="true" class="video" *ngFor="let video of videos"></video>
</div>
<div class="messagesContainer">
    <div *ngFor="let message of messages" class="message" [ngClass]="{
        ownMessage : message.from == 'me'
    }">{{message.text}}</div>
</div>
<div class="new-message-input-container">
    <input type="text" [(ngModel)]="newMessage" class="new-message-input" />
    <button (click)="onSendMessage()" class="btn btn-primary new-message-button">Send To All</button>
</div>
<button style="position: absolute; top: 0; left: 0;" (click)="videos.push(null)">ADD VIDEO</button>