<div class="speaker-view-container">
    <video [srcObject]="localStream" autoplay="true" [muted]="'muted'" class="speaker-video"></video>
</div>
<div class="toolbar">
    <button class="toolbar-button" (click)="onToggleMicrophone()">
        <fa-icon [icon]="!muted ? faMicrophone : faMicrophoneSlash"></fa-icon>
    </button>
    <button class="toolbar-button" (click)="onToggleVideo()">
        <fa-icon [icon]="!hideVideo ? faVideo : faVideoSlash"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faDesktop"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faMessage"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faCog"></fa-icon>
    </button>
    <button class="toolbar-button">
        <fa-icon [icon]="faSignOut"></fa-icon>
    </button>
</div>
<div class="thumbnails-container">
    <video [srcObject]="localStream" autoplay="true" [muted]="'muted'" class="video"></video>
    <video *ngFor="let remoteStream of remoteStreams" [srcObject]="remoteStream" autoplay="true" class="video">
    </video>
</div>
<div class="messagesContainer">
    <div *ngFor="let message of messages" class="message" [ngClass]="{
        ownMessage : message.from == 'me'
    }">{{message.text}}</div>
</div>
<div class="new-message-input-container">
    <input type="text" [(ngModel)]="newMessage" class="new-message-input" />
    <button (click)="onSendMessage()" class="btn btn-primary new-message-button">Send To All</button>
</div>
<button (click)="signalingService.logUserNames()" style="position: absolute; top: 0; left: 50%;">Log Usernames</button>
<!-- <button style="position: absolute; top: 0; left: 0;" (click)="videos.push(null)">ADD VIDEO</button> -->