.thumbnails-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8px);
    background-color: #0d0d0d;
    overflow-y: scroll;
    direction: rtl;
}

.video {
    width: 200px;
    height: auto;
    direction: ltr;
}

.speaker-view-container {
    position: absolute;
    top: 0;
    left: 214px;
    background-color: #0d0d0d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
    width: calc(100vw - 534px);
}

.speaker-video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #121212;
    height: 80px;
    width: calc(100vw - 320px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 214px;
}

.toolbar-button {
    background-color: #212121;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 60px;
    margin: 8px;
}

.messagesContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100vh - 50px);
    width: 320px;
    box-sizing: border-box;
    background-color: white;
    overflow-y: scroll;
}

.message {
    opacity: 0;
    background-color: blue;
    border-radius: 5px;
    color: white;
    width: 225px;
    margin-left: 5px;
    margin-right: 70px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    box-sizing: border-box;
    animation: message 250ms ease-in-out 1 forwards;
}

.ownMessage {
    background-color: green;
    margin-left: 70px;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
}

.new-message-input-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.new-message-input {
    height: 36px;
    margin-right: 8px;
}

@keyframes message {
    from {
        opacity: 0;
        transform: translateY(8px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}