@use '../../../styles/colors.scss';

.navbar {
    background-color: colors.$brand-primary;
    display: flex;
    position: relative;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            a {
                display: inline-block;
                padding: 18px;
                color: colors.$dark-green-1;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
            }
            a:hover {
                background-color: colors.$brand-primary-shade;
            }
        }
    }
}

.noPadding {
    padding: 0 !important;
}

.logo {
    height: 50px;
    margin: 8px;
    width: auto;
}

.spaceBetween {
    justify-content: space-between;

    ul {
        display: flex;
        align-items: center;
    }
}

.flexEnd {
    justify-content: flex-end;
}

.navbar-text {
    display: inline-block;
    padding: 18px;
    color: colors.$dark-green-1;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    user-select: none;
}

.navbar-highlightable-text:hover {
    background-color: colors.$brand-primary-shade;
    cursor: pointer;
}

.hamburger {
    color: colors.$dark-green-1;

    &:hover {
        background-color: colors.$brand-primary-shade;
    }
}

.tabletMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: colors.$brand-primary;
    z-index: 1000;

    li {
        width: 100%;

        a {
            width: 100%;
            box-sizing: border-box;
        }
    }
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: colors.$brand-primary;
    z-index: 1000;

    li {
        width: 100%;

        a {
            width: 100%;
            box-sizing: border-box;
        }
    }
}
