<form class="form" [formGroup]="newMeetingForm" #ngForm="ngForm" *ngIf="!succeeded">
    <h1 class="formHeader">New Meeting</h1>
    <div class="spacer-lg"></div>

    <label class="formLabel">Title</label>
    <input type="text" name="title" id="title" formControlName="title" class="formInput" />
    <div class="formFieldErrorContainer">
        <small
            class="formFieldError">{{(!newMeetingForm.get('title')?.valid && (ngForm.submitted || newMeetingForm.get('title')?.dirty || newMeetingForm.get('title')?.touched)) ? 'Please enter a meeting title.' : ''}}</small>
    </div>
    <div class="spacer-sm"></div>

    <label class="formLabel">Date and time</label>
    <div style="display: flex;">
        <input type="datetime-local" name="startDateTime" id="startDateTime" formControlName="startDateTime"
            class="formInput" />
        <label class="formLabel">{{dateTimeService.timeZoneShort}}</label>
    </div>
    <div class="formFieldErrorContainer">
        <small
            class="formFieldError">{{(!newMeetingForm.get('startDateTime')?.valid && (ngForm.submitted || newMeetingForm.get('startDateTime')?.dirty || newMeetingForm.get('startDateTime')?.touched)) ? 'Please enter a valid date-time.' : ''}}</small>
    </div>
    <div class="spacer-sm"></div>

    <label class="formLabel">Duration</label>
    <div style="display: flex;">
        <input type="number" step=5 name="duration" id="duration" formControlName="duration" class="formInput" /><label
            class="formLabel">min</label>
    </div>
    <div class="formFieldErrorContainer">
        <small
            class="formFieldError">{{(!newMeetingForm.get('duration')?.valid && (ngForm.submitted || newMeetingForm.get('duration')?.dirty || newMeetingForm.get('duration')?.touched)) ? 'Please enter a meeting duration (5-120 minutes)' : ''}}</small>
    </div>
    <div class="spacer-sm"></div>


    <label class="formLabel">Password</label>
    <div style="display: flex;">
        <input type="text" name="password" id="password" formControlName="password" class="formInput" />
        <button class="btnPrimary" style="margin-left: 2px; padding: 8px;" (click)="onRefreshPassword($event)"><fa-icon
                [icon]="faRefresh"></fa-icon></button>
    </div>
    <div class="formFieldErrorContainer">
        <small
            class="formFieldError">{{(!newMeetingForm.get('password')?.valid && (ngForm.submitted || newMeetingForm.get('password')?.dirty || newMeetingForm.get('password')?.touched)) ? 'Please enter a password (8 - 60 characters)' : ''}}</small>
    </div>
    <div class="spacer-sm"></div>

    <label class="formLabel">Invite Guests</label>
    <div style="display: flex;">
        <input type="email" [(ngModel)]="guestEmail" [ngModelOptions]="{standalone: true}" name="guest"
            (input)="guestEmailError = ''" class="formInput" />
        <button (click)="addGuest($event)" class="btnPrimary" style="margin-left: 2px; padding: 8px;"><fa-icon
                [icon]="faAdd"></fa-icon></button>
    </div>
    <div class="formFieldErrorContainer">
        <small class="formFieldError">{{guestEmailError}}</small>
    </div>
    <div class="guestsContainer">
        <small *ngFor="let g of guests" style="color:white; margin-bottom: 2px;">{{g}}
            <button (click)="removeGuest($event, g)" class="btnDanger"
                style="padding: 4px; padding-top: 0px; padding-bottom: 0px; margin-left: 2px;">
                <fa-icon [icon]="faClose" [size]="'2xs'"></fa-icon>
            </button>
        </small>
    </div>
    <div class="spacer-lg"></div>

    <div class="horizontalContainerCentered">
        <button class="btnPrimary" type="submit" (click)="onSubmit($event)">Create Meeting</button>
    </div>
</form>
<form class="form" [formGroup]="newMeetingForm" #ngForm="ngForm" *ngIf="succeeded">
    <h1 class="formHeader">New Meeting</h1>
    <div class="spacer-lg"></div>
    <p>Success! The meeting was created and invitations were emailed to your guests.</p>
    <div class="spacer-lg"></div>
    <div class="horizontalContainerCentered">
        <button class="btnPrimary" (click)="onResetForm($event)">Ok</button>
    </div>
</form>