@mixin fade-in($duration-value) {
    animation-name: fadeIn;
    animation-duration: $duration-value;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@mixin fade-out($duration-value) {
    animation-name: fadeOut;
    animation-duration: $duration-value;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@mixin translate-up($duration-value) {
    animation-name: translateUp;
    animation-duration: $duration-value;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes translateUp {
    from {
        transform: translateY(20px);
    } to {
        transform: translateY(0);
    }
}