@use 'colors';

@mixin btn {
    width: fit-content;
    border: none;
    border-radius: 3.5px;
    padding: 12px;

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
        transform: translate(1px, 1px);
    }

    transition: all 100ms ease-in-out;

    font-size: 14px;
    font-weight: 400;
}

.btnPrimary {
    @include btn;

    background-color: colors.$brand-primary;

    &:hover {
        background-color: colors.$brand-primary-tint;
    }

    &:active {
        background-color: colors.$brand-primary-shade;
    }
}

.btnDanger {
    @include btn;

    background-color: colors.$danger;

    &:hover {
        background-color: colors.$brand-primary-tint;
    }

    &:active {
        background-color: colors.$brand-primary-shade;
    }
}

.btnTransparent {
    background-color: transparent;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
    }
}