@use 'colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@mixin btn {
    width: fit-content;
    border: none;
    border-radius: 3.5px;
    padding: 12px;

    &:hover {
        cursor: pointer;
    }

    &:active {
        cursor: pointer;
        transform: translate(1px, 1px);
    }

    transition: all 100ms ease-in-out;

    font-size: 14px;
}

.btnPrimary {
    @include btn;

    background-color: colors.$brand-primary;

    &:hover {
        background-color: colors.$brand-primary-tint;
    }

    &:active {
        background-color: colors.$brand-primary-shade;
    }
}

.btnSecondary {
    @include btn;

    background-color: colors.$brand-secondary;

    &:hover {
        background-color: colors.$brand-secondary-tint;
    }

    &:active {
        background-color: colors.$brand-secondary-shade;
    }
}

.btnDanger {
    @include btn;

    background-color: colors.$danger;

    &:hover {
        background-color: colors.$danger-tint;
    }

    &:active {
        background-color: colors.$danger-shade;
    }
}

.btnTransparent {
    background-color: transparent;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
    }
}