$dark-green-0-translucent: rgba(4, 6, 5, 0.45);
$dark-green-0: #030705;
$dark-green-1: #030a07;
$dark-green-2: #071d18;
$brand-primary: #56c893;
$brand-primary-shade: hsl(152, 51%, 49%);
$brand-primary-tint: #71d1a4;
$brand-secondary: #bb95f4;
$brand-secondary-shade: hsl(264, 81%, 70%);
$brand-secondary-tint: #d0b5f7;
$danger: hsl(331, 49%, 56%);
$danger-shade: hsl(331, 49%, 49%);
$danger-tint: hsl(331, 49%, 63%);

//#0c1410;
//#0a0e0c;