$dark-green-0-translucent: rgba(6, 9, 8, 0.25);
$dark-green-0: hsl(160, 18%, 3%);
$dark-green-1: hsl(150, 17%, 5%);
$dark-green-2: hsl(150, 17%, 10%);
$brand-primary: hsl(152, 51%, 56%);
$brand-primary-shade: hsl(152, 51%, 49%);
$brand-primary-tint: hsl(152, 51%, 63%);
$brand-secondary: hsl(264, 81%, 77%);
$danger: hsl(331, 49%, 56%);
$danger-shade: hsl(331, 49%, 49%);
$danger-tint: hsl(331, 49%, 63%);

//#0c1410;
//#0a0e0c;