$navbar-height: 57px;
$screen-height: calc(100vh - $navbar-height);

.screenContainer {
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin verticalContainer {
    display: flex;
    flex-direction: column;
    width: 260px;
    padding: 20px;
    padding-top: 32px;
    box-sizing: border-box;
}

.horizontalContainerCentered {
    display: flex;
    justify-content: center;
}

.horizontalContainerSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.horizontalContainerFlexEnd {
    display: flex;
    justify-content: flex-end;
}