@use 'colors';
@use 'errors';
@use 'font-sizes';

@mixin form-label {
    color: white;
    font-size: font-sizes.$sm;
}

@mixin form-input {
    color: white;
    font-size: font-sizes.$xs;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid white;
}

.form {
    display: flex;
    flex-direction: column;
    width: 180px;
}

.formHeader {
    color: white;
    font-size: font-sizes.$md;
    text-align: center;
    margin: 0;
    padding: 0;
}

.formLabel {
    @include form-label()
}

.formInput {
    @include form-input();
}

.formFieldErrorContainer {
    min-height: 20px;
    margin-top: 2px;
}

.formFieldError {
    @include errors.error-text();
    font-size: font-sizes.$xs;
}

.formSubmissionError {
    @include errors.error-text();
    font-size: font-sizes.$sm;
}

.formLinkContainer {
    width: 100%;
    position: absolute;
    bottom: 24px;
    display: flex;
    justify-content: center;
}