<!DOCTYPE html><html lang="en"><head>
    <meta charset="utf-8">
    <title>Vunity</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}">
    <script th:src="@{/assets/js/sockjs.min.js}"></script>
    <script th:src="@{/assets/js/stomp.min.js}"></script>
  <style>@import"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap";body{margin:0;padding:0;background-color:#030a07;font-family:Montserrat,andale mono,sans-serif,Trebuchet MS,Lucida Sans Unicode,Lucida Grande,Lucida Sans;min-height:100%;-webkit-font-smoothing:antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased}</style><link rel="stylesheet" th:href="@{/styles/styles.db243c8386e86cb3.css}" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" th:href="@{/styles/styles.db243c8386e86cb3.css}"></noscript></head>

  <body>
    <app-root></app-root>
  <script th:src="@{/js/runtime.52f1d05aa6c3afea.js}" type="module"></script><script th:src="@{/js/polyfills.d7bd9d69524573e2.js}" type="module"></script><script th:src="@{/js/main.9a7091cfb0e4fb8f.js}" type="module"></script>

</body></html>