@use '../../../../styles/colors.scss';
@use '../calendar.component.scss';

.calendarDate {
    @include calendar.calendarCell();
    height: 80px;
    border-bottom: 1px solid white;
    color: white;
    position: relative;

    &:hover {
        cursor: pointer;
        background-color: colors.$dark-green-2;
    }
}

.meetingsList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 68px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meeting {
    height: 12px;
    box-sizing: border-box;
    margin: 2px;
    background-color: colors.$brand-primary;
    border-radius: 3px;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

.hide {
    display: none;
}

.moreMeetings {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 8px;
    background-color: colors.$brand-primary;
    color: white;
    text-align: right;
    padding-right: 4px;
    box-sizing: border-box;
}