<div class="modalContainer">
    <div class="modal">
        <div *ngIf="modalStatus !== 'mediaSettings'" class="loadingContainer">
            <app-loading-wheel [size]="'md'"></app-loading-wheel>
            <p *ngIf="modalStatus === 'authenticating'" class="loading-text">Authenticating...</p>
            <p *ngIf="modalStatus === 'awaitingMedia'" class="loading-text">Awaiting user media...</p>
            <p *ngIf="modalStatus === 'connectingToSignalingServer'" class="loading-text">Connecting to signaling
                server...</p>
            <p *ngIf="modalStatus === 'waitingForHost'" class="loading-text">Waiting for host to open meeting...</p>
            <button (click)="onCancel()" class="btn btn-primary" style="width: 100%;">Cancel</button>
        </div>
        <div *ngIf="modalStatus === 'mediaSettings'" class="mediaSettingsContainer">
            <app-local-video [size]="videoSize"></app-local-video>
            <label>Join with camera on?</label>
            <label><input type="radio" id="yes" name="cameraEnabled" value="yes"
                    (change)="signalingService.toggleVideo()" [checked]="signalingService.videoEnabled">Yes</label>
            <label><input type="radio" id="no" name="cameraEnabled" value="no" (change)="signalingService.toggleVideo()"
                    [checked]="!signalingService.videoEnabled">No</label>
            <label>Join with microphone on?</label>
            <label><input type="radio" id="yes" name="audioEnabled" value="yes"
                    (change)="signalingService.toggleMicrophone()" [checked]="signalingService.audioEnabled">Yes</label>
            <label><input type="radio" id="no" name="audioEnabled" value="no"
                    (change)="signalingService.toggleMicrophone()" [checked]="!signalingService.audioEnabled">No</label>
            <div class="btn-container">
                <button (click)="onCancel()" class="btn btn-primary">Cancel</button>
                <button (click)="onContinue()" class="btn btn-primary">{{signalingService.isHost ? "Open" :
                    "Join"}}</button>
            </div>
        </div>
    </div>
</div>